<div class="modal fade" id="mkdown1" tabindex="-1" role="dialog" aria-labelledby="aboutmeLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:980px">
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
          </button>
          <h4 class="modal-title" id="aboutmeLabel"><%= title %></h4>
      </div>
      <div class="modal-body markdown-body"><%- mdown %>
      </div>
  </div>
  </div>
</div>