<div class="modal fade" id="mkdown1" tabindex="-1" role="dialog" aria-labelledby="aboutmeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="aboutmeLabel">base64</h4>
            </div>
            <div class="modal-body markdown-body">
                <form id="uploadForm" enctype="multipart/form-data">
                    <input id="file" type="file" name="file" />
                    <button id="upload" type="button" onclick="doUpload()">upload</button>
                </form>
                <div class="base64"></div>
                <script type="text/javascript">
                    function doUpload() {
                        var formData = new FormData($("#uploadForm")[0]);
                        $.ajax({
                            url: '/upload',
                            type: 'POST',
                            dataType: 'json',
                            data: formData,
                            async: false,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (returndata) {
                                $(".base64").text(returndata.base64)
                            },
                            error: function (returndata) {
                                $(".base64").text(returndata.responseText)
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>